
/* 
    Color      : Red
    Color Code : #c73831
	Hover Code : 
*/



/* color */
a,
.text-color,
.color-theme,
.blockquote-3,
.breadcrumb > li a:hover,
.btn--bordered.btn--white:active,
.btn--bordered.btn--white:focus,
.btn--bordered.btn--white:hover,
.btn--link.btn--primary,
.btn--link.btn--secondary:active,
.btn--link.btn--secondary:focus,
.btn--link.btn--secondary:hover,
.btn--video:hover,
.btn--video:hover i,
.btn--link.btn-more,
.tabs .nav-tabs > li > a:focus,
.tabs .nav-tabs > li > a:hover,
.tabs .nav-tabs > li.active > a,
.tabs .nav-tabs > li.active > a:focus,
.tabs .nav-tabs > li.active > a:hover,
.tabs-2.tabs .nav-tabs > li > a:focus,
.tabs-2.tabs .nav-tabs > li > a:hover,
.tabs-2.tabs .nav-tabs > li.active > a,
.tabs-2.tabs .nav-tabs > li.active > a:focus,
.tabs-2.tabs .nav-tabs > li.active > a:hover,
.tabs-vertical.tabs .nav-tabs > li > a:focus,
.tabs-vertical.tabs .nav-tabs > li > a:hover,
.tabs-vertical.tabs .nav-tabs > li.active > a,
.tabs-vertical.tabs .nav-tabs > li.active > a:focus,
.tabs-vertical.tabs .nav-tabs > li.active > a:hover,
.accordion .panel .panel--heading a,
.page-title .breadcrumb a:hover,
.title-3 .breadcrumb a:hover,
.alerts .alert-content h4,
.range-slider input,
.module .module-active .module-icon i,
.cart-total .total-price,
.module-menu .menu-list a:hover,
.module-menu .menu-social a:hover,
.top-bar .top--social a:hover,
.transparent-header .navbar-nav li.has-dropdown > a:hover,
.transparent-header .navbar-nav li.has-dropdown.active > a .mega-dropdown-menu .container a[href='#'],
ul.mega-menu li ul li span,
.mega-dropdown-menu .container a[href='#'] ul.dropdown-menu li > a:active,
ul.dropdown-menu li > a:focus,
ul.dropdown-menu li > a:hover,
ul.mega-menu li a:active,
ul.mega-menu li a:focus,
ul.mega-menu li a:hover,
.hamburger-panel .list-links a:hover,
.slider .slide--icons a i,
.slider-portfolio .slide--action a,
.member .member-overlay .member-social a:hover,
.team-boxed .member .member-social a:hover,
.team-dark .member .member-social a:hover,
.testimonial-panel .testimonial--meta p,
.testimonial-3 .testimonial-panel .testimonial--meta p,
.testimonial-4 .testimonial-panel:hover .testimonial--meta p,
.portfolio-filter li a.active-filter,
.portfolio-filter li a:hover,
.portfolio-item .portfolio--title h4 a:hover,
.portfolio-item .portfolio--cat a,
.portfolio-item .portfolio--cat a:hover,
.portfolio-single .portfolio--share a:hover,
.portfolio--prev-next .portfolio--bio a:hover,
.portfolio-parallax .portfolio-item .portfolio--title h4 a:hover,
.portfolio-parallax .portfolio-item .portfolio--cat a:hover,
.portfolio-parallax .portfolio-item a.portfolio--more,
.feature-panel .feature--icon,
.feature-more .feature-panel:hover .feature--content .read-more,
.feature-left-circle .feature--content h6,
.pricing-panel .pricing--heading p,
.blog-entry .entry--meta .entry--cat a,
.blog-entry .entry--title h4 a:hover,
.blog-entry:hover .entry--more a,
.entry--share a:hover,
.entry-bio .entry-bio-desc a:hover,
.entry-meta a:hover,
.entry-next:hover a,
.entry-prev:hover a,
.entry-related .entry:hover .entry-title h5,
.entry-share a:hover,
.entry-related .entry--title a:hover,
ul.comments-list .comment-body .comment a.reply,
td.cart-product-quantity .product-quantity i,
.cart-total-amount ul li,
.product--content .product--cat a:hover,
.product--content .product--title a:hover,
.shop-options .product-view-mode a.active i,
.shop-options .product-view-mode a:hover i,
.shop-product .product-rating i,
.shop-product .product-review span a:hover,
.shop-product .product-details ul li,
.shop-product .product-quantity a i,
.product-tabs .nav-tabs > li > a:focus,
.product-tabs .nav-tabs > li > a:hover,
.product-tabs .nav-tabs > li.active > a,
.product-tabs .nav-tabs > li.active > a:focus,
.product-tabs .nav-tabs > li.active > a:hover,
.product-review li .product-rating,
a.link--styled,
.form-container p,
.contact-panel i,
.contact-panel .contact-action,
.widget-categories ul li a:hover,
.widget-categories ul li a:hover:after,
.widget-categories ul li a span,
.widget-recent-posts .entry .entry-title a:hover,
.widget-search .form-search .btn,
.widget-filter input,
.widget-recent-products .product .product-title a:hover,
.widget-tweets ul li:before,
.widget-tweets ul li a,
.widget-tweets ul li a:hover,
.footer-widget .footer--widget-about .social a:hover,
.footer--widget-recent .entry--title a:hover,
.footer--links li a:hover,
.process-panel .process-content span,
.video--content .video--button .popup-video:hover,
.newsletter .btn:hover,
.timeline--item .timeline--item-date,
.carousel-navs .owl-controls .owl-nav [class*=owl-]:hover,
.banner-panel a,
.info-box-bar-dark .info-box-small h6,
.number-panel .number--content h6,
.number-panel .number--content a,
.number-1 .number-panel .number--content h3 span,
.pie-chart .rounded-skill span,
.pie-chart .rounded-skill .rounded--icon,
.header-fixed-side .header--panel .navbar-nav a:hover,
.header-fixed-side .header--panel .navbar-nav a:hover,
.service-panel:hover .link-more,
.landing-demos .portfolio-title:hover,
.btn--icon-gradient i,
.btn--bordered.btn--primary,
.feature-gradient .feature--icon i {
	color: #c73831;
}

/* background-color*/
::selection,
.higlighted-style1,
.bg-theme,
.btn--primary,
.btn--link.btn-more span:after,
.btn--link.btn-more span:before,
.tabs-2.tabs .nav-tabs > li > a:focus i,
.tabs-2.tabs .nav-tabs > li > a:hover i,
.tabs-2.tabs .nav-tabs > li.active > a i,
.tabs-2.tabs .nav-tabs > li.active > a:focus i,
.tabs-2.tabs .nav-tabs > li.active > a:hover i,
.alerts .alert-icon,
#back-to-top:hover,
.range-slider .ui-slider-range,
.module .module-label,
.cart-box .cart-overview li .cart-cancel:hover:after,
.navbar-toggle .icon-bar,
.portfolio--zoom a:before,
.portfolio--zoom a:after,
.portfolio-standard .portfolio-item .portfolio--title h4 a:hover,
.portfolio-single .portfolio--title h3:after,
.portfolio--prev-next .portfolio--icon a:hover,
.portfolio--carousel .owl-controls .owl-nav [class*=owl-]:hover,
.portfolio--slider .owl-controls .owl-nav [class*=owl-]:hover,
.entry-widget .entry-widget-title h4:after,
.cart-product-remove:hover,
.product--img .product--hover .product--action a:hover,
.feature-heading .feature-panel h3:after,
.pricing-active:before,
.shop-product .product-share a,
.shop-product .product-share a,
.shop-product .product-related-title h5:after,
.widget .widget--title h5:after,
.widget-filter .ui-slider-range,
.widget-info,
.process-3 .process-panel .process-img .process-overlay:hover,
.skills .progress-bar,
.video--content .video--player:hover,
.divider--line:after,
.banner-panel a:after,
.banner-sale h6:after,
.banner-more h3:after,
.info-box .video--player .popup-video:hover,
.info-box-bar-dark .info-box-small h3:before,
.number-panel .number--content a:after,
.accordion .panel--heading .accordion-toggle:after,
.progressbar.progress-gradient .progress-bar,
.slide-overlay-gradient .slotholder:after,
.spinner > div {
	background-color: #c73831 !important;
}

/* BORDER */
.border-all,
.accordion .panel--heading .accordion-toggle:after {
	border: 1px solid #c73831;
}

.border-top {
	border-top: 1px solid #c73831;
}

.border-bottom {
	border-bottom: 1px solid #c73831;
}

.border-right {
	border-right: 1px solid #c73831;
}

.border-left {
	border-left: 1px solid #c73831;
}

.video--content .video--player-theme {
	border: 2px solid #c73831;
}

/* border color */
.navbar-toggle,
.navbar-toggle,
.form-control:focus,
.video--content .video--player-bordered:hover,
.slider-theme.slider-dots .owl-controls .owl-dots .owl-dot span,
.btn--bordered.btn--primary {
	border-color: #c73831;
}

.contact-form .form-control:focus {
	border-bottom-color: #c73831;
}

/*background-color & border-color  */ 
.btn--secondary:active,
.btn--secondary:focus,
.btn--secondary:hover,
.btn--white:active,
.btn--white:focus,
.btn--white:hover,
.btn--bordered.btn--primary:active,
.btn--bordered.btn--primary:focus,
.btn--bordered.btn--primary:hover,
.btn--white.btn--secondary:active,
.btn--white.btn--secondary:focus,
.btn--white.btn--secondary:hover,
.pagination > .active > a,
.pagination > li:hover > a,
.feature-left-circle .feature--icon:hover,
.widget-tags a:hover {
	background-color: #c73831 !important;
	border-color: #c73831;
}

.btn--icon-gradient i {
	background: -webkit-linear-gradient(150deg, #1da4cb 0%, #1da4cb 2%, #1dcb84 27%, #7bcb1d 58%, #efd631 100%);
	background: linear-gradient(150deg, #1da4cb 0%, #1da4cb 2%, #1dcb84 27%, #7bcb1d 58%, #efd631 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.slide-overlay-gradient .slotholder:after {
	background-image: linear-gradient(to top, rgba(27, 181, 128, 0.8) 0%, rgba(12, 109, 176, 0.8) 100%);
}

.feature-gradient .feature--icon i {
	background: -webkit-linear-gradient(150deg, #1da4cb 0%, #1da4cb 2%, #1dcb84 27%, #7bcb1d 58%, #efd631 100%);
	background: linear-gradient(150deg, #1da4cb 0%, #1da4cb 2%, #1dcb84 27%, #7bcb1d 58%, #efd631 100%);
}

.progressbar.progress-gradient .progress-bar {
	background-image: -webkit-gradient(linear, left top, right top, from(#c73831), to(#c73831));
	background-image: -webkit-linear-gradient(left, #c73831, #c73831);
	background-image: -moz-linear-gradient(left, #c73831, #c73831);
	background-image: -ms-linear-gradient(left, #c73831, #c73831);
	background-image: -o-linear-gradient(left, #c73831, #c73831);
	background-image: linear-gradient(left, #c73831, #c73831);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#c73831', endColorStr='#c73831', gradientType='1');
}

.bg-overlay-theme3:before {
	background-color: rgba(199,56,49,0.45);
}

.bg-overlay-theme2:before {
	background-color: rgba(199,56,49,0.93);
}

@media only screen and (min-width: 992px) {

.mega-dropdown-menu .container a[href='#'] {
	color: #c73831;
}
}

.portfolio-hover-2 .portfolio-item .portfolio--hover .portfolio--action {
	background-color: rgba(199,56,49,0.9);
	;
	background-image: none;
}

.widget-instagram .insta-hover i {
	background-color: rgba(199,56,49,0.95);
}

.btn--bordered.btn--white:active,
.btn--bordered.btn--white:focus,
.btn--bordered.btn--white:hover {
	color: #c73831;
	background-color: #ffffff !important;
	border-color: #ffffff;
}

.bg-overlay-theme4:before {
	background-color: rgba(52, 152, 219, 0.75);
}

.text-theme {
	color: #c73831!important;
}
