.family-abril{
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1px;
}
.family-sans{
    font-family: 'Work Sans', sans-serif;
}
@media (max-width: 576px) {
    /* header */
    .container > .navbar-collapse {
        width: 100%;
        height: 100%;
        background-color: #FBE4E8;
        margin-right: 0;
    }
    .module-active .module-fullscreen {
        width: 100% !important;
    }
    .pos-vertical-center {
        top: 20% !important;
    }
    .icon-header-responsive{
        width: 11% !important;
        height:11% !important;
    }
    .module--search-box .form-control {
         width: 100%;
     }


    /* footer */
    .centered {
        text-align: center;
    }
    .width-20{
        width: 15%;
    }
    .newsletter-button{
        top: 45% !important;
    }
    /* home */
    .owl-dots {
        left: 0 !important;
    }
    .product--img {
        padding-left: 5%;
    }
    .down-button{
        display:none;
    }
    /* product detail*/
    .responsive-height, .slider-home{
        height: 400px !important;
    }
    .mobile-center{
        text-align: center;
    }
    .dropdown-menu > li > a,
    .mega-menu > li > a {
        color: #000000;
    }
    .open {
        padding-left: 20%;
    }
    .bg-white-mobile{
        height: 425px;
    }
    .customize-label{
        margin-left: 0 !important;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    /* header */
    .container > .navbar-collapse {
        width: 100%;
        height: 100%;
        background-color: #FBE4E8;
        margin-right: 0;
    }
    .module-active .module-fullscreen {
        width: 100% !important;
    }
    .pos-vertical-center {
        top: 20% !important;
    }
    .icon-header-responsive{
        width: 6% !important;
        height: 6% !important;
    }
    .module--search-box .form-control {
        width: 100%;
    }

    /*footer*/
    .centered {
        text-align: center;
    }
    .width-20{
        width: 15%;
    }
    .newsletter-button{
        top: 45%;
    }

    /* home */
    .owl-dots {
        left: 0 !important;
    }
    .product--img {
        padding-left: 30%;
    }
    .down-button{
        display:none;
    }

    /* product detail*/
    .responsive-height, .slider-home {
        height: 400px !important;
    }
    .mobile-center{
        text-align: center;
    }
    .dropdown-menu > li > a,
    .mega-menu > li > a {
        color: #000000;
    }

    .open {
        padding-left: 20%;
    }
    .bg-white-mobile{
        height: 425px;
    }
    .customize-label{
        margin-left: 0 !important;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    /* header */
    .container > .navbar-collapse {
        width: 100%;
        height: 100%;
        background-color: #FBE4E8;
        margin-right: 0;
    }
    .module-active .module-fullscreen {
        width: 100% !important;
    }
    .pos-vertical-center {
        top: 20% !important;
    }
    .icon-header-responsive{
        width: 6% !important;
        height: 6% !important;
    }
    .module--search-box .form-control {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .centered {
        text-align: center;
    }
}

@media (min-width: 1200px) {
}

p{
  color: #000000;
}
.center{
    text-align: center;
}

.width-20{
    width: 20px;
}
.width-50{
    width: 50px;
}
.width-100{
    width: 100px;
}

.newsletter-button {
    background-color: transparent;
    color: #000000;
    font-size: 25px;
    font-weight: 400;
    width: 15%;
    line-height: 42px;
    border: none;
    top: 44%;
    position: absolute;
    margin:0 auto;
    left: 80%;
    right: 0;
}

/*
header style custom
*/
.pointer{
    cursor: pointer;
}
.module-active .module-fullscreen {
    width: 50%;
    background-color: #EDF3F6;
}

.color-black a{
    color: #000000;
    font-size: 13px;
}

.module--search-box .form-control{
    color: #000000;
    border-bottom: 2px solid #000000;
}

.top-bar{
    background-color: #FBE4E8;
}

.top-bar .top--contact{
    color: #000000;
}

.header-menu {
    padding-bottom:3px;
}
.header-menu:hover {
    display:inline-block;
    border-bottom:1px solid black;
    padding-bottom:2px;
    cursor: pointer;
}
.search-button{
    bottom: 0%;
    position: absolute;
    margin: 0 auto;
    left: 100%;
    color: #000000;
}

/*
body home custom
*/
.down-button{
    left: 25%;
    bottom: 0;
    color: #000000;
    position: absolute;
    margin: 0 auto;
    z-index: 99;
    font-size: 20px;
    -webkit-transition-delay: 1s; /* Safari */
    transition-delay: 1s;
}
.down-button:hover {
    color: #000 !important;
}
.slider .slide--item {
    height: 0;
}

.slider .slide--headline {
    color: #000000;
    font-weight: 400;
    padding-top: 30%;
    font-size: 32px;
    line-height: 46px;
}

.slider-home{
    position: relative;
    overflow: hidden;
    z-index: 999;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height:700px;
}

.cover-5 h3{
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    line-height: 60px;
}
#slider .owl-item{
    background-color: #EDF3F6;
}
.owl-dots{
    left: 25%;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] {
    color: #000;
    font-size: 24px;
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.owl-prev{
    top: 50%;
    position: absolute;
    margin: 0 auto;
    left: 0;
    color: #000000;
}

.owl-next{
    top: 50%;
    position: absolute;
    margin: 0 auto;
    right: 0;
    color: #000000;
}
.owl-next:hover {
    color: #000 !important;
    background:none !important;
}
.owl-prev:hover {
    color: #000 !important;;
    background:none !important;
}

.product--content .product--title a:hover {
    color: #EAA2AE;
}

.product--img .product--hover .product--action a {
    bottom: 60px;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border-color: #ffffff;
    background-color: transparent;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
}
.product--img .product--hover .product--action a:hover {
    background-color: transparent;
    color: #ffffff;
}

/*
Product detail custom
*/
.accordion .panel .panel--heading a {
    font-size: 18px;
    color: #000000;
    font-weight: 400;
}
.accordion .panel--heading .accordion-toggle:after {
    content: "\f063";
    /* symbol for "opening" panels */
    font-size: 18px;
    color: #000000;
    background-color: transparent;
    border: none;
}

.accordion .panel--heading .accordion-toggle.collapsed:after {
    content: "\f061";
    /* symbol for "collapsed" panels */
    font-size: 18px;
    color: #000000;
    background-color: transparent;
    border: none;
}

.show-menu-arrow{
    border: none;
}
.accordion .panel .panel--body {
    padding: 0 0 15%;
}
select {
    /* styling */
    background-color: white;
    border: none;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select.minimal {
    background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
}

select.minimal:focus {
    background-image:
            linear-gradient(45deg, green 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, green 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-position:
            calc(100% - 15px) 1em,
            calc(100% - 20px) 1em,
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
    border-color: black;
    outline: 0;
}
.product--content .product--title a {
    font-size: 20px;
    font-weight: 400;
}
#slider-product .owl-dots{
    left: 0;
}
#slider-product .owl-theme .owl-controls .owl-nav [class*="owl-"] {
    color: #000;
    font-size: 24px;
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#slider-product .owl-prev{
    top: 50%;
    position: absolute;
    margin: 0 auto;
    left: 0;
    color: #000000;
}

#slider-product .owl-next{
    top: 50%;
    position: absolute;
    margin: 0 auto;
    right: 0;
    color: #000000;
}
#slider-product .owl-next:hover {
    color: #000 !important;
    background:none !important;
}
#slider-product .owl-prev:hover {
    color: #000 !important;;
    background:none !important;
}

